*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/buildSrc/build/pluginUnderTestMetadata/
/buildSrc/build/classes/kotlin/main/META-INF/buildSrc.kotlin_module
/buildSrc/build/classes/kotlin/main/AndroidSdk.class
/buildSrc/build/classes/kotlin/main/BuildPlugins$Versions.class
/buildSrc/build/classes/kotlin/main/BuildPlugins.class
/buildSrc/build/classes/kotlin/main/Config.class
/buildSrc/build/classes/kotlin/main/DependenciesKt.class
/buildSrc/build/classes/kotlin/main/Libraries$Versions.class
/buildSrc/build/classes/kotlin/main/Libraries.class
/buildSrc/build/classes/kotlin/main/TestLibraries$Versions.class
/buildSrc/build/classes/kotlin/main/TestLibraries.class
/buildSrc/build/kotlin/compileKotlin/caches-jvm
/buildSrc/build/kotlin/compileKotlin/build-history.bin
/buildSrc/build/kotlin/compileKotlin/last-build.bin
/buildSrc/build/kotlin/buildSrcjar-classes.txt
/buildSrc/build/libs/buildSrc.jar
/buildSrc/build/reports/plugin-development/validation-report.txt
/buildSrc/build/source-roots/buildSrc/source-roots.txt
/buildSrc/build/tmp/jar/MANIFEST.MF
